html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #7a5cff 0%, #3cd644 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding-top: 20px;
  user-select: none;
}

.react-calculator {
    position: relative;
    margin: 0 auto;
    width: 320px;
    background-color: #292f36;  
    box-shadow: 0 19px 38px rgba(19, 19, 19, .24),
  0 15px 12px rgba(19, 19, 19, .12);
  }
